<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8">
        <h3>Authors</h3>
        <div class="authors">
          <p>This blog post follows the spirit of open source software and can be improved or modified by anyone – pending approval from other contributors. If you're interested in making a change, you can
            read the <a href="https://github.com/pearkes/pretengineer#contribute">contribution guide</a>, or simply <a href="https://github.com/pearkes/pretengineer/edit/gh-pages/{{ page.filename }}">edit</a> the post. All improvements are appreciated.</p>
          <p>Authors are listed by contribution size, largest to smallest.</p>
          <ul class="author-list list-unstyled">
            <p><em>Loading authors from GitHub...</em></p>
            <noscript>
              <p><strong>Don't like JavaScript, eh? No problem. Head over to the <a href="https://github.com/pearkes/pretengineer">GitHub repo</a> to see a detailed breakdown of this posts authors.</strong></p>
            </noscript>
          </ul>
        </div>
     </div>
    </div>
</div>
