<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="alternate" type="application/atom+xml" title="The Pretengineer - Feed" href="http://pretengineer.com/feed.xml">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6693252/622022/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

    <!-- General Search Engines -->
    <meta name="description" content="{{ page.summary }}"/>
    <link rel="canonical" href="http://pretengineer.com{{ page.url }}" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{ page.summary }}">

    <!-- Open Graph (Facebook) -->
    <meta property='og:locale' content='en_US'/>
    <meta property='og:title' content='{{ page.title }}'/>
    <meta property='og:description' content='{{ page.summary }}'/>
    <meta property='og:url' content='http://pretengineer.com{{ page.url }}'/>
    <meta property='og:site_name' content='The Pretengineer'/>

    <title>Pretengineer | {{ page.title }}</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
    if (!String.prototype.substitute) {
        String.prototype.substitute = function(object, regexp){
            return String(this).replace(regexp || (/\\?\{([^{}]+)\}/g), function(match, name){
                if (match.charAt(0) == '\\') return match.slice(1);
                return (object[name] != null) ? object[name] : '';
            });
        };
    }

    var contributorCheck = {
        init: function(){
            // Only if we have a filename to check.
            if (contributorCheckFile) {
                contributorCheck.makeRequest();
                contributorCheck.ping();
            }
        },

        makeRequest: function(){
            $.getJSON('http://api.pretengineer.com/contributors/' + contributorCheckFile, contributorCheck.getResponse);
        },

        getResponse: function(json){
            if (!json) return;
            contributorCheck.updateContributors(json);
        },

        ping: function(){
            setTimeout(function(){
                contributorCheck.init();
            }, 10000);
        },

        updateContributors: function(json){
            if (!json) return;
            if (json["wait"] == true) return;

            var tmpl = $('#contributor-template').html();
            el = $('.author-list').empty();

            $.each(json["contributors"], function(index, contributor){
                el.append(tmpl.substitute({
                    'image_url': contributor["image_url"],
                    'url'      : contributor["url"],
                    'username' : contributor["username"],
                }));
            });

        }
    };
    </script>
    <script type="text/template" id="contributor-template">
    <li>
      <img height="50" src="{image_url}"/>
      <a class="author-username" href="{url}">{username}</a>
    </li>
    </script>

</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43967230-1', 'pretengineer.com');
  ga('send', 'pageview');

</script>
